.parent{
    background-color: black;
    display: flex;
    box-sizing: border-box;
    margin: 50px  50px 50px ;
    
    
}

.photo{
   padding: 100px;
   display: flex;
   box-sizing: border-box;
   width:400px;
}

.h1{
    background-color: aqua;
    padding: 5px;
}